ul{
  list-style: none;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.errorbox{
  background-color: #9FA8B2;
  padding: 0.4em;
  color: #3D3B48; 
  display:inline-block; 
}
.comments__list{
  list-style: none;
  margin: 1em;
}
.comments__list h4{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  list-style: none;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.pic{
  width: 12em;
  border: black;
  border-width: 5px;
  border-style: solid;
}
.listing {
  padding: 0.3em;
text-align: left;
background-color: #AA5746;
}
.photoreview {
  width: 20em;
  border: black;
  border-width: 5px;
  border-style: solid;
}
.reviewstitle {
  padding: 0.3em;
  display: block;
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.viewmoreinfo{
font-size: 1em;
  margin-left: 0.3em;
align-content: right;
padding: 1em 0.8em;
background-color: #9FA8B2;
border: black;
border-width: 3px;
border-style: solid; 
padding: 0.4em;
color: #3D3B48; 
}

.Header {
  background-color: #D79050;
  border-color: red;
  border-width: 50px;
  min-height: 2.4em;
  text-align: left;
  font-size: 2em;
  padding: 0.4em;
  color: #3D3B48;
}
.singlereview{
  background-color: #AA5746;
  padding: 0.4em;
  border: black;
  border-width: 1px;
  border-style: solid;
}
.Nav__link {
  background-color: #9FA8B2;
  border: black;
  border-width: 3px;
  border-style: solid; 
  padding: 0.4em;
  color: #3D3B48; 
}
.Nav__link_logged {
  background-color: #9FA8B2;
  padding: 0.4em;
  color: #3D3B48; 
  
}
.Nav{
  background-color: #9FA8B2;
  background-image: url(../pic738093.webp);
  background-blend-mode: luminosity;
  text-align: right;
  padding: 1em;
  height: 2em;
  border: black;
  border-width: 1px;
  border-style: solid; 
}
@media screen and (min-width:700px){
.listing {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .reviewstitle  {
      display: block;
      font-size: 1.2em;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
 
  .App{
      background-size: cover;
      background-position: center;
      background-clip: border-box;
  }
  .viewmoreinfo{
    place-items:right ;
    padding: 0.8em 0.5em;
    }
    .comments__list{
      list-style: none;
      margin: 1em;
    }
    .comments__list h4{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; 
      list-style: none;
      display: block;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: 0.5px;
      margin-inline-end: 0.5px;
      padding-inline-start: 0.5px;
    }
    .from{
      margin:0em;
      padding:0em;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    .submitbutton{
      padding:0.2em
    }
}